{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
NewsList
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>

   <h3>{% current_time '%b %d %Y' %}</h3>

   <hr>
   {% if news_list %}
       <table>
           <tr>
               <td>Категория</td>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Новость</td>
           </tr>

           {% for news in news_list %}
           <tr>
               <td>{{ news.category.name }}</td>
               <td>{{ news.name|slice:":20"|censor }}</td>
               <td>{{ news.pub_date|date:"d.m.Y" }}</td>
               <td>{{ news.description|slice:":20"|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
  {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}